<div class="new">
  <h1>new page</h1>
  <%= form_for @book do |f| %>
    <div class="new__page">
      <%= f.text_field :image, class: "new__page__form new__page--image", placeholder: "image url" %>
      <%= f.text_field :title, class: "new__page__form new__page--title", placeholder: "input title", maxlength: "12" %>
      <%= f.text_area :content, class: "new__page__form new__page--content", placeholder: "input content", rows: "10" %>
      <%= f.submit "読了", class: "new__page--btn" %>
    </div>
  <% end %>
</div>    